@import '~antd/lib/style/themes/default.less';

.undisplay {
  display: none;
}
.display {
  display: block;
}
.untit {
  color: #666;
}
.tit {
  color: #aaa;
}
.returnList {
  text-align: right;
  color: #40a9ff;
}
.rtnls {
  cursor: pointer;
}
