<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>轻量级PaaS管理平台</title>
  <link href="https://cdn.bootcss.com//nprogress/0.2.0/nprogress.min.css" rel="stylesheet">
</head>
<body>
  <div id="root"></div>
  <script src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
</body>
</html>
